.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cta {
    width: 15rem;
  }

  i {
    position: relative;

    &::after {
      background-color: $black;
      border-radius: 50%;
      content: '';
      height: 0.75rem;
      left: 0.1rem;
      position: absolute;
      top: 0.25rem;
      width: 0.75rem;
      z-index: -1;
    }
  }
}

.stores {
  width: 15rem;
}

.sub-hero-image {
  width: 100%;
}

.sub-hero-image {
  margin: 3rem 0 0;
}

@media (min-width: 992px) {
  .hero {
    h1,
    h3 {
      margin-right: 0rem;
    }
  }

  .hero-image {
    bottom: -1.5rem;
    position: absolute;
    max-width: 56rem;
    right: -16rem;
    width: 100%;
  }

  .sub-hero-image {
    bottom: 0;
    left: -22rem;
    margin: 0;
    max-width: 60rem;
    position: absolute;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .hero-image {
    right: -11rem;
  }

  .sub-hero-image {
    left: -20rem;
    max-width: 55rem;
  }
}

@media (min-width: 1400px) {
  .hero {
    & > .container {
      position: relative;

      &::after {
        background: #0d0e10;
        bottom: -1.5rem;
        content: '';
        left: 100%;
        position: absolute;
        top: -1.5rem;
        width: 1000%;
      }
    }
  }

  .hero-image {
    right: -1rem;
  }

  .sub-hero-image {
    left: -14rem;
    max-width: 49rem;
  }
}
