.navbar {
  background-color: $black;

  .navbar-brand {
    padding: 0;

    img {
      height: 2.5rem;
    }
  }

  .nav-link {
    color: $grey-light;

    &.active,
    &:focus,
    &:focus-visible,
    &:hover {
      color: $accent;
    }
  }
}
