:root {
  --bs-primary-bg-subtle: #{$accent};
}

body {
  background-color: $black;
  font-family: 'Open Sans', sans-serif;
  padding-top: 56px; // navbar height
}

p {
  font-weight: 300;
  line-height: 1.75rem;
}

p strong {
  font-weight: 700;
}

.w-max-content {
  width: max-content;
}

.z-index-1 {
  z-index: 1;
}
