.alert,
.invalid-feedback {
  text-align: left;
}

.animate {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@for $i from 1 through 12 {
  section .animate:nth-child(#{$i}) {
    transition-delay: #{($i) * 100}ms;
  }
}

footer {
  img {
    height: 2rem;
  }
}

.lead-form {
  .alert {
    display: none;
  }
}

.modal-dialog-centered {
  min-height: calc(100% - 50vh);
}

section {
  overflow: hidden;

  &.dark {
    background-color: $black;
    color: $grey-light;

    .invalid-feedback {
      color: $grey-light;
    }
  }

  &.light {
    background-color: $grey-light;
    color: $black;

    .accordion-body {
      p:last-child {
        margin-bottom: 0;
      }
    }

    .accordion-button,
    .accordion-item {
      color: $black;
    }
  }
}

#sign_up {
  img {
    width: 100%;

    @media (min-width: 992px) {
      width: auto;
    }
  }
}
